Flask 
gunicorn
pymongo
python-dotenv
requests
bcrypt
pandas
numpy
elasticsearch==8.11.0
beautifulsoup4
lxml
spacy
transformers
sentence-transformers
nltk
scikit-learn==1.3.2
tf-keras==0.1.0
PyPDF2
pytesseract
pdf2image
Pillow
werkzeug